
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  margin:0;
}
  
.login-container {
  width: 300px;
  background-color: none;
  padding:30px;
  align-items: center;
}
  
.dropdown-menu li a {
  width: auto;
  display: block;
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  padding: 8px 16px;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: padding-left 0.2s ease-in-out;
  -moz-transition: padding-left 0.2s ease-in-out;
  -webkit-transition: padding-left 0.2s ease-in-out;
  -o-transition: padding-left 0.2s ease-in-out;
}

.dropdown-menu a:hover {
  background-color: #ddd;
  color:#5A5A5A;
  font-weight: 600;
  padding-left: 18px;
  width: auto;
  box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
  border-radius: 6px;
}

.form-control-sm {
  margin-top:10px;
}

#example th{
  background-color:#E96529;
  text-align:center;
  color:#fff;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #E96529;
  border-color: #E96529;
}
.pagination{
  padding-bottom:10px;
}
.error{
  background-color: #E8C0AE;
  color:#D30000;
  margin-bottom:5px;
  height:25px;
  padding:3px;
  border-radius:5px;
  text-align:center;
}

.add-merchant{
  margin-right:10px;
}
.upload-btn, .add-merchant{
  display: inline-block;
  background-color: #E96529;
  color:#fff;
  border: none;
  padding:5px;
  width:150px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}
.add-merchant:hover, .upload-btn:hover {
  background-color: #fff;
  color:#E96529;
  border:solid #E96529 2px;
}
input[type="file"] {
  display: none;
}

.coupled, .decoupled, .gcash{
  border: none; 
  border-radius: 20px; 
  background-color: #E96529; 
  width: 110px;
}

.decoupled, .gcash{
  margin-left:10px;
}

.coupled:hover, .decoupled:hover, .gcash:hover{
  background-color: #fff;
  color:#E96529;
  border:solid #E96529 2px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #E96529;
}

.sidebar a {
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  transition: padding-left 0.2s ease-in-out;
  -moz-transition: padding-left 0.2s ease-in-out;
  -webkit-transition: padding-left 0.2s ease-in-out;
  -o-transition: padding-left 0.2s ease-in-out;
}

.login-btn{
  border-radius:20px;
  background-color:#fff;
  color:black;
  border:solid #fff 2px;
  font-size:12px;
  color:#F47831;
  font-weight:bold;
  padding:8px;
}

.login-btn:hover{
  background-color: #E96529;
  color:#fff;
  border:solid #fff 2px;
}

.login-btn:active{
  background-color: #E96529;
  color:#fff;
  border:solid #fff 2px;
}

.dataTables_filter{
  margin-bottom:10px;
}

a {
  text-decoration: none;
}
