*{
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin:0;
}
  
.login-container {
  width: 300px;
  background-color: none;
  padding:30px;
  align-items: center;
}
  
.dropdown-menu li a {
  width: auto;
  display: block;
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  padding: 8px 16px;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: padding-left 0.2s ease-in-out;
  -moz-transition: padding-left 0.2s ease-in-out;
  -webkit-transition: padding-left 0.2s ease-in-out;
  -o-transition: padding-left 0.2s ease-in-out;
}

.dropdown-menu a:hover {
  background-color: #ddd;
  color:#5A5A5A;
  font-weight: 600;
  padding-left: 18px;
  width: auto;
  box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
  border-radius: 6px;
}

.form-control-sm {
  margin-top:10px;
}
.active>.page-link, .page-link.active {
  z-index: 3;
  color: #fff;
  background-color: #174793;
  border-color: #174793;
}

.paginate_button{
  color: #174793;
}

.page-link {
  color: #174793;
}

th{
  background-color:red;
}

#example th{
  background-color:#E96529;
  text-align:center;
  color:#fff;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #E96529;
  border-color: #E96529;
}
  