@media only screen and (max-width: 767px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        text-align: left !important;
        width: 100% !important;
       
    }

    thead tr,
    tfoot tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left !important;
        font-weight: bold;
    }

    .table td:nth-child(1) {
        background: #E96529;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
    }

    td:nth-of-type(1):before {
        content: "Fee ID";
    }

    td:nth-of-type(2):before {
        content: "Merchant Name";
    }

    td:nth-of-type(3):before {
        content: "Paymaya Credit Card";
    }

    td:nth-of-type(4):before {
        content: "Gcash";
    }

    td:nth-of-type(5):before {
        content: "Gcash Miniapp";
    }

    td:nth-of-type(6):before {
        content: "Paymaya";
    }

    td:nth-of-type(7):before {
        content: "Maya Checkout";
    }

    td:nth-of-type(8):before {
        content: "Maya";
    }

    td:nth-of-type(9):before {
        content: "Leadgen Commission";
    }

    td:nth-of-type(10):before {
        content: "Commission Type";
    }

    td:nth-of-type(11):before {
        content: "CWT Rate";
    }

    td:nth-of-type(12):before {
        content: "Actions";
    }

    .dataTables_length {
        display: none;
    }

    .title {
        font-size: 25px;
        padding-left: 2vh;
        padding-top: 10px;
    }

    .add-btns {
        padding-right: 2vh;
    }
}