body {
    background-image: url("../images/bg_booky.png");
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

table.dataTable tbody td:last-child {
    position: sticky;
    right: 0;
    z-index: 2;
    background-color: #F1F1F1 !important;
    box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.12);
}

table thead th:last-child {
    position: sticky !important;
    right: 0;
    z-index: 2;
    box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.12) !important;
    -webkit-box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.voucher-type {
    padding-bottom: 0px;
    padding-right: 5vh;
    display: flex;
    align-items: center;
}

#alertContainer {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    margin-top: 15%;
    width: 300px;
    padding: 15px;
    font-size: 13px;
}

@media only screen and (max-width: 767px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        text-align: left !important;
        width: 100% !important;
    }

    thead tr,
    tfoot tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        font-weight: 400;
        padding-left: 50% !important;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: auto;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left !important;
    }

    td:nth-of-type(1):before {
        content: "Store ID";
    }

    td:nth-of-type(2):before {
        content: "Store Name";
    }

    td:nth-of-type(4):before {
        content: "Merchant Name";
    }

    td:nth-of-type(5):before {
        content: "Legal Entity Name";
    }

    td:nth-of-type(6):before {
        content: "Store Address";
    }

    td:nth-of-type(8):before {
        content: "Email Address";
    }

    td:nth-of-type(9):before {
        content: "CWT Rate";
    }

    td:nth-of-type(10):before {
        content: "Actions";
    }

    .dataTables_length {
        display: none;
    }

    .title {
        font-size: 25px;
        padding-left: 2vh;
        padding-top: 10px;
    }

    .voucher-type {
        padding-right: 2vh;
    }
}